@import url('./fonts.css');

.App {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: 250px auto;
  height: 100vh;
  overflow: scroll;
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, #1c1c1c, #414040);
  color: white;
  grid-column: 1 / span 2;
  font-family: 'Roboto';
  height: 80px;
}

.viewer {
  width: 400px;
  word-wrap: break-word;
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Roboto';
}

.title {
  padding: 15px;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.newArticle {
  flex: 1;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  background-color: #aaaaaa;
  border: none;
  color: black;
  text-align: center;
  font-size: 1em;
  padding: 0.4em;
  width: 30%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px;
  font-family: 'Roboto';
}

.newArticle:hover {
  background-color: #f5f5f5;
  color: black;
}

.addedprofile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  margin-right: 10px;
  margin-left: 15px;
}

.defaultprofile {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  display: flex;
  flex: 1;
  margin-left: 200px;
}

.signIn {
  border-radius: 4px;
  background-color: #aaaaaa;
  font-size: 0.9em;
  border: none;
  color: black;
  text-align: center;
  padding: 0.4em;
  width: 90px;
  transition: all 0.5s;
  cursor: pointer;
  font-family: 'Roboto';
}

.signIn:hover {
  background-color: #f5f5f5;
  color: black;
}

.hello {
  display: flex;
  align-items: center;
  font-size: 17px;
  margin-right: 15px;
}

.signOut {
  display: flex;
  border-radius: 4px;
  margin-left: 15px;
  background-color: #aaaaaa;
  font-size: 12px;
  border: none;
  color: black;
  text-align: center;
  padding: 5px;
  width: 60px;
  transition: all 0.5s;
  cursor: pointer;
  font-family: 'Roboto';
}

.signOut:hover {
  background-color: #f5f5f5;
  color: black;
}

nav,
article {
  height: 100%;
  padding-top: 10px;
  padding-left: 10px;
  font-family: 'Roboto';
  width: 240px;
}

nav {
  background-color: #e3e3e3;
}

nav p {
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 8px;
  margin: 3px 0;
  transition: all 0.3s;
}

nav p:hover {
  cursor: pointer;
  background-color: #555555;
  color: #e3e3e3;
}

article .date {
  font-style: italic;
  margin-top: -10px;
}

article .body {
  white-space: break-spaces;
}

article {
  width: 85%;
  padding-left: 25px;
}

.error {
  background-color: red;
  border-radius: 5px;
  color: white;
  padding: 5px;
  margin-left: 20px;
  margin-bottom: -5px;
}

.noneSelected {
  padding-left: 30px;
  font-size: 2em;
}

.search {
  position: relative;
  padding: 6px;
  border-radius: 15px;
  font-size: 13px;
  width: 90%;
  border-color: #333;
  outline: none;
  transition: all 0.5s;
  font-family: 'Roboto';
}

.entryinput {
  position: relative;
  padding: 6px;
  border-radius: 5px;
  font-size: 15px;
  width: 210px;
  color: #333;
  outline: none;
  transition: all 0.5s;
  font-family: 'Roboto';
  margin-top: -1.5em;
  margin-bottom: -1em;
  margin-left: 20px;
}

.entrytitle {
  font-size: 1.7em;
  padding-left: 20px;
}

.submit {
  border-radius: 4px;
  background-color: #aaaaaa;
  font-size: 0.9em;
  border: none;
  color: black;
  text-align: center;
  padding: 0.4em;
  width: 90px;
  transition: all 0.5s;
  cursor: pointer;
  font-family: 'Roboto';
  margin-left: 20px;
  margin-top: 20px;
}

.delete {
  border-radius: 4px;
  background-color: #aaaaaa;
  font-size: 0.9em;
  border: none;
  color: black;
  text-align: center;
  padding: 0.4em;
  width: 90px;
  transition: all 0.5s;
  cursor: pointer;
  font-family: 'Roboto';
  margin-bottom: 200px;
}

.abort {
  border-radius: 4px;
  background-color: #aaaaaa;
  font-size: 0.9em;
  border: none;
  color: black;
  text-align: center;
  padding: 0.4em;
  width: 90px;
  transition: all 0.5s;
  cursor: pointer;
  font-family: 'Roboto';
  margin-left: 30px;
  margin-top: 20px;
  text-decoration: none;
}

.abort:hover {
  background-color: #aaaaaa;
  color: black;
}

/* Styling for the ReactQuill editor */
.ql-container {
  font-family: 'Roboto';
  font-size: 16px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: 20px;
  background: #fefcfc;
  max-width: 400px;
}

.ql-editor {
  padding: 10px;
  resize: vertical;
  max-width: 400px;
}

.ql-editor p {
  margin: 0;
}

.ql-toolbar {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: -1.4em;
  margin-left: 20px;
  width: 400px;
}

.ql-toolbar .ql-formats {
  margin-right: 20px;
}

.ql-editor h1 {
  font-size: 28px;
  font-weight: bold;
}

.ql-editor h2 {
  font-size: 24px;
  font-weight: bold;
}

.ql-editor h3 {
  font-size: 20px;
  font-weight: bold;
}

.ql-editor a {
  color: #007bff;
}
